<footer class="footer">
    <p>&copy; <span id="year"></span> Khyathi Bhyrapuneni. All Rights Reserved.</p>
    <script>
        document.getElementById("year").textContent = new Date().getFullYear();        
    </script>
</footer>